h1 {
    color: #e4b363;
    font-family: 'Limelight', cursive;
    text-align: center;
  }
  
  .movie-title {
    font-family: 'Limelight', cursive;
    font-weight: 600;
    color: #ef6461;
    margin: 0 auto;
    width: 500px;
    text-align: center;
  }
  
  
  .movie-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #313638;
    margin: 0 auto;
    width: 500px;
    padding: 20px;
  }

  .search-bar {
    text-align: center;
  }